@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: rgba(20,22,26,0.85);
  --secondary-color: rgba(0, 22, 65, 0.85);
  --text-color: #ffffff;
  --box-color: #FFE600;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: "Quicksand", sans-serif;

  background-image:url("../images/moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.form-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 350px;
  padding: 20px 0px;
  
  border: 1px solid var(--box-color);
  background: linear-gradient(var(--main-color), var(--secondary-color));
  border-radius: 40px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  gap: 0.5rem;
  margin: 1rem 2rem;
  
  color: white;
}

.logo {
  height: 80px;
  width: 80px;
  display: block;
  margin: 0 auto;
}