@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: rgba(20,22,26,0.85);
  --secondary-color: rgba(0, 22, 65, 0.85);
  --text-color: #ffffff;
  --box-color: #FFE600;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: serif;

  background-image:url("images/moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 350px;
  padding: 20px 0px;
  
  border: 1px solid var(--box-color);
  background: linear-gradient(var(--main-color), var(--secondary-color));
  border-radius: 40px;
}

.form-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
  gap: 0.5rem;
  color: white;
}

.form-content {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  padding: 1rem 2rem;
  width: 21.8rem;
  
  color: white;
}

.logo {
  height: 80px;
  width: 80px;
  display: block;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(var(--secondary-color) , white);
  background-clip: text;
  color: transparent;
}

.slogan {
  margin: 0 auto;
  font-size: 1rem;
  font-family: serif;
  color: lightyellow;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;        
    margin-left: auto;
    margin-right: auto; 
}

.line {
  flex: 1;
  height: 1px;
}

.divider .line:first-child {
  background: linear-gradient(to left, var(--box-color), transparent);
}

.divider .line:last-child {
  background: linear-gradient(to right, var(--box-color), transparent);
}

.divider .star{
  font-size: 14px;
  padding: 0 15px;
  user-select: none;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--box-color);

  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Quicksand", serif;
}

input:user-invalid {
  border: 2px solid red;
}

label {
  font-family: "Quicksand", serif;
  font-size: 1rem;
}

button {
  width: 70%;
  align-self: center;

  font-family: "Quicksand", serif;

  padding: 0.5rem;
  
  margin: 1rem 0 0 0;

  border-radius: 50px;
  background: linear-gradient(to right, var(--secondary-color) , lightyellow);

  border: 1px solid var(--box-color);
  font-weight: 500;
  font-size: 1rem;
}